@model IEnumerable<NguyenThanhSang505.NTS505>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên nhân viên:
            </th>
            <th>
                Giới tính (Nam):
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NTSName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTSGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NTSId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NTSId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NTSId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
